<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', path='/favicon.ico') }}" type="image/x-icon"/>
    <title>Thumbnail Generator</title>
</head>
<body>

<div class="container">
    <h1>Thumbnail Generator</h1>

    <h4>Upload photo:</h4>
    <form action="/images" method="POST" enctype="multipart/form-data">
        <div>
            <label id="select_photo">Select Photo</label>
            <input type="file" name="uploaded_image" size="40">
        </div>
        <div>
            <input type="submit" value="UPLOAD">
        </div>
    </form>
</div>

</body>
</html>