{% extends 'base.html' %}

{% block content %}

<div class="main-container">
    <h1>Welcome to Thumbnail Generator</h1>

    <h4>Click a button below in order to upload an image of your choice to a database.</h4>
    <div class="ui divider"></div>
    <div>
        <button id="upload-image" class="ui button">UPLOAD IMAGE</button>
    </div>
</div>

<div class="ui modal">
    <div class="header">Upload Image</div>
    <div class="content">
        <form action="/images" method="POST" enctype="multipart/form-data" name="fileinfo">
            <div class="field">
                <label id="select_photo">Select Photo:</label>
                <input id="fileUpload" type="file" name="file" size="40">
                <div class="ui divider"></div>
            </div>
            <div id="send-image">
                <div id="message"></div>
                <input class="ui positive approve icon button" type="submit" value="UPLOAD">
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui negative cancel button">Cancel</div>
    </div>
</div>

<img class="ui fluid image" src="#" alt="thumbnail">


{% endblock content %}
