{% extends 'base.html' %}

{% block content %}

<div class="main-container">
    <h1>Welcome to Thumbnail Generator</h1>
    <h3>Generate a random thumbnail of the dimensions you choose.
        Just enter the dimensions below and click the generate button.</h3>
    <div class="ui divider"></div>

    <div class="ui inverted segment"><div class="ui inverted form">
        <div class="header">Enter dimensions in pixels</div>
        <form>
            <div class="inline field">
                <label for="width">Width</label>
                <input id="width" name="width" type="number" placeholder="Width">
            </div>
            <div class="inline field">
                <label for="height">Height</label>
                <input id="height" name="height" type="number" placeholder="Height">
            </div>
            <input class="ui purple approve icon button" type="submit" value="GET THUMBNAIL">
        </form>
    </div></div>

    <div class="ui divider"></div>
    <h4>Click a button below in order to upload an image of your choice to a database.</h4>
    <div>
        <button id="upload-image" class="ui button purple">UPLOAD IMAGE</button>
    </div>
</div>

<div class="ui modal">
    <div class="header">Upload Image</div>
    <div class="content">
        <form action="/images/" method="POST" enctype="multipart/form-data" name="fileinfo">
            <div class="field">
                <label>Select Image:</label>
                <input id="fileUpload" type="file" name="file" size="40">
                <div class="ui divider"></div>
            </div>
            <div id="send-image">
                <div id="message"></div>
                <input class="ui positive approve icon button" type="submit" value="UPLOAD">
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui negative cancel button">Cancel</div>
    </div>
</div>

<div>
    <img class="ui fluid image" src="#" alt="thumbnail">
</div>


{% endblock content %}
