{% extends 'base.html' %}

{% block content %}

<div class="main-container">
    <h1>Welcome to Thumbnail Generator</h1>

    {% if status == 'fail' %}
    <i class="red-text"></i>
    <div class="red-text my-3">
        <h3>{{message}}</h3>
    </div>
    {% else %}
    <i class="green-text"></i>
    <div class="green-text my-3">
        <h3>{{message}}</h3>
    </div>
    {% endif %}

    <div>
        <a href="/">
            <button class="btn btn-lg btn-success">Back to Homepage</button>
        </a>
    </div>

    <h4 class="my-4">Upload another image using form below.</h4>
    <div class="form-div">
        <form action="/images/" method="POST" enctype="multipart/form-data" name="fileinfo">
            <div>
                <label class="form-label">Select Image:</label>
                <input class="form-control form-control-sm" id="fileUpload" type="file" name="file" size="40" required>
            </div>
            <div id="send-image">
                <input class="btn btn-lg btn-success" type="submit" value="UPLOAD">
            </div>
        </form>
    </div>

</div>

{% endblock content %}